@font-face {
  font-family: 'playbill';
  src: local('playbill'), url('../assets/fonts/playbill.ttf') format('truetype');
  font-weight: bold;
}

.btn-grad-primary1 {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.btn-grad-primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
.btn-grad-primary {
  font-family: 'Arial';
  margin: 6px;
  padding: 4px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-grad-primary1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1400px)
{
  .container {
    max-width: 1320px!important;
  }
}